apiVersion: v2
name: bookstack
description: A simple, self-hosted, easy-to-use platform for organising and storing information.
home: https://github.com/reployedio/charts/tree/main/charts/bookstack
icon: https://media.githubusercontent.com/media/BookStackApp/website/main/static/images/logo.png
type: application
# renovate image=ghcr.io/linuxserver/bookstack
version: 0.1.0
appVersion: version-v22.11.1
kubeVersion: ">=1.22.0-0"
keywords:
  - bookstack
  - wiki
  - documentation
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.2.1
  - name: mariadb
    version: 11.4.3
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
sources:
  - https://bookstackapp.com
  - https://github.com/BookStackApp/BookStack
  - https://ghcr.io/linuxserver/bookstack
